
html{
    width: 600px;
    margin-top: 0%;

}
body{
      background: #000000;
      margin: 8px;
}


h1{
   color:  #00A857;
    text-align: center
}

p{
    color: white;
    text-align: center;
    width: 317px;
    
}

texto8{
    color:  #00A857;
}

img1{
    text-align: center;
}

img2{
    text-align: center;
}

img3{
    text-align: center;
}

img4{
    text-align: center;
}